<p-toast></p-toast>
<button pButton class="p-button-rounded me-4" label="Nueva Empresa" icon="pi pi-plus" (click)="mostrarCrearEmpresa()"></button>
<p-table [value]="empresas" styleClass="p-datatable-sm mt-4">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Web</th>
            <th>Logo</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empresa>
        <tr>
            <td>{{ empresa.id }}</td>
            <td>{{ empresa.nombre }}</td>
            <td>{{ empresa.email }}</td>
            <td>{{ empresa.sitioWeb }}</td>
            <td>
                <img [src]="empresa.imagenUrl" alt="logo-empresa" width="90px">
            </td>
            <td>
                <Button pButton class="p-button-text p-button-success p-button-sm" icon="pi pi-id-card" routerLink="/empresas/{{empresa.id}}/contactos"></Button>
                <Button pButton class="p-button-text p-button-sm" icon="pi pi-pencil" (click)="mostrarEditarEmpresa(empresa)"></Button>
                <Button pButton class="p-button-text p-button-danger p-button-sm" icon="pi pi-trash" (click)="eliminarEmpresa(empresa.id)"></Button>
            </td>
        </tr>
    </ng-template>
</p-table>