<p-toast></p-toast>
<button pButton class="p-button-rounded me-4" label="Nuevo Contacto" icon="pi pi-plus" (click)="mostrarCrearContacto()"></button>
<p-table [value]="contactos" styleClass="p-datatable-sm mt-4">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Imagen</th>
            <th>Titulo</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Empresa</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contacto>
        <tr>
            <td>{{ contacto.id }}</td>
            <td>
                <img class="rounded-circle" [src]="contacto.imagenUrl" alt="imagen-contacto" height="60px" width="60px" style="object-fit: cover; object-position: center;" >
            </td>
            <td>{{ contacto.titulo }}</td>
            <td>{{ contacto.persona.nombre + ' ' + contacto.persona.apellido }}</td>
            <td>{{contacto.persona.email}}</td>
            <td>{{contacto.persona.telefono}}</td>
            <td>
                <img [src]="contacto.empresa.imagenUrl" alt="logo-empresa" width="90px">
            </td>
            <td>
                <Button pButton class="p-button-text p-button-sm" icon="pi pi-pencil" (click)="mostrarEditarContacto(contacto)"></Button>
                <Button pButton class="p-button-text p-button-danger p-button-sm" icon="pi pi-trash" (click)="eliminarContacto(contacto.id)"> </Button>
            </td>
        </tr>
    </ng-template>
</p-table>