<form [formGroup]="form" (ngSubmit)="crearPersona()">
    <div class="row d-flex justify-content-center p-3">
        <div class="col-12 col-md-6">
            <label for="labelNombre" class="form-label">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control p-inputtext" placeholder="Nombre">
        </div>
        <div class="col-12 col-md-6">
            <label for="labelApellido" class="form-label">Apellido</label>
            <input formControlName="apellido" type="text" class="form-control p-inputtext" placeholder="Apellido">
        </div>
        <div class="col-12 col-md-6">
            <label for="labelEmail" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control p-inputtext" placeholder="Correo electronico">
        </div>
        <div class="col-12 col-md-6">
            <label for="labelTelefono" class="form-label">Telefono</label>
            <input formControlName="telefono" type="text" class="form-control p-inputtext" placeholder="Telefono si 0 ni 15">
        </div>
        <div class="col-12 col-md-6">
            <label for="labelCiudad" class="form-label">Ciudad</label>
            <input formControlName="ciudad" type="text" class="form-control p-inputtext" placeholder="Ciudad">
        </div>
        <div class="d-flex justify-content-end">
            <button pButton class="p-button-rounded" icon="pi pi-check" label="Guardar" [disabled]="!form.valid"></button>
        </div>
    </div>
</form>